.jumbotron {
    background-position: center;
    background-size: cover;
    background-color: black;
  }

.bg-panel {
    background-color: rgb(41, 41, 41);
    opacity: 90%;
}

a:link {
  color: rgb(58, 193, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:rgb(58, 193, 255);
  background-color: transparent;
  text-decoration: none;
}